{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="container-min-full-height d-flex justify-content-center align-items-center container">
        <div class="login-center">

            <!-- /.navbar-header -->
            <div>
                {{ wtf.quick_form(form) }}
            </div>
            <!-- /.form-material -->

            <footer class="col-sm-12 text-center">
                <hr/>
                <p>New Member <a href="{{ url_for('auth.register') }}" class="text-primary m-l-5"><b>Register</b></a>
                </p>
            </footer>
        </div>
        <!-- /.login-center -->
    </div>
{% endblock %}

