<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>
        {% if title %} {{ title }}|Pivot® Water Meter
        {% else %} Pivot® Water Meter{% endif %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/bootstrap-slider.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing/css/custom.css') }}">
</head>
<body>

<div id="header-holder" class="main-header">
    <div class="bg-animation">
        <div class="graphic-show">
            <img class="fix-size" src="{{ url_for('static', filename='landing/img/meter-1.png') }}" alt="">

        </div>
    </div>
    <nav id="nav" class="navbar navbar-default navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed"
                                    data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-holder" href="{{ url_for('main.home') }}">
                                <div class="logo" style="width:62px;height:18px"></div>
                            </a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse"
                             id="bs">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                                <li class="support-button-holder support-dropdown">
                                    <a class="support-button" href="#">Support</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-whatsapp"></i> +255(0) 714 729 460</a></li>
                                        <li><a href="#"><i class="fas fa-book"></i>Knowledge base</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block app_content %}{% endblock %}
</div>
<div id="info" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="info-text">IoT Smart water billing for real time water billing and monitoring .
                </div>

                <a href="{{ url_for('auth.login') }}" class="ybtn ybtn-accent-color ybtn-shadow">Login</a>
            </div>
        </div>
    </div>
</div>


{% block script %}
    <script src="{{ url_for('static', filename='landing/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landing/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landing/js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='landing/js/slick.min.js"') }}"></script>
    <script src="{{ url_for('static', filename='landing/js/main.js') }}"></script>
{% endblock %}
</body>
</html>